/**** GENERAL */

i {
    width: 20px;
}

/****** NAV BAR */

.nav__bgcolor {
    background-color: #E5E5E5;
}

.small__logo{
    max-width: 60px;
    margin-right: 15px;
}

.search__bar {
    min-width: 250px;
}

.my__bell {
    color: orange;
}

#nav {
    height: 70px;
}

#nav .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
  
#nav .form-control {
    padding-left: 2.375rem;
}



/***** MAIN */

.my__container {
    width: calc(100vw - 70px);
    background-color: #F8F9FA;
}

/***** LEFT BAR */

.left__bar {
    height: calc(100vh - 70px);
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

.link__container {
    width: 100%;
}

/****** TOP BAR */

.top__bar {
    width: calc(100vw - 70px);
    background-color: #1B72E8;
}


.my__badge {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

/***** MEDIA QUERY */

@media screen and (min-width: 992px) {

    .top__bar {
        width: calc(100vw - 150px);
    }

   .left__bar {
        width: 150px;
   }

   .my__container {
        width: calc(100vw - 150px);
    }

    .topbar__container__50 {
        width: 50%;
    }
    
    .topbar__container {
        width: 100%;
    }

}